@media only screen and (max-device-width: 1024px){
  .wrapper {
    margin-top: 28vh;
    width: 60%;
  }

  button {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 2rem;
  }
}

@media only screen and (max-device-width: 480px){
  .wrapper {
    margin-top: 28vh;
    width: 60%;
  }

  button {
    font-size: 4.3rem;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 2.8rem;
  }
}